.container {
	width: 710px;
}

body {
	background: #0E7DB2;
	color: #5A0084;
}

header {
	padding-top: 20px;
}

header img {
	padding: 1em;
	background: #fff;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

section p {
	font-size: 90%;
	padding: 10px;
}

section h1 {
	font-size: 200%;
	color: #5E8A31;
}

section h2 {
	font-size: 100%;
	color: #5E8A31;
}

nav {
	float: right;
}

nav {
	white-space: nowrap;
	background: white;
	padding: 0 0.7em;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
